.reddy{
    background-color: aqua;
    align-content: center;
    align-items: center;
    color: blue;
    text-align: center

}
#myHeader{
    margin-right: 128px;
    margin-bottom: 40px;
    text-decoration-color: brown

}
