<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>selection</title>
</head>
<body class="reddysty.css">
    <h1>
        selection of pesticides 
    </h1>
 

    <div>
            <form action="select"  method="post">
                    {% csrf_token %}
            
                    <!-- <input id="temperature" type="text" name ="temperature" placeholder=" temperature"> <br>
                   <br> <input id="humdity" type="text" name ="humdity" placeholder="humdity "> <br>
                   <br> <input id="rainfall" type="text" name ="rainfall" placeholder="rainfall"> <br>
                <br> -->
                <br>
                <h1>
                    select the temperature humity and rainfall in high mid and low
                </h1>
                <h1>enter the temperature</h1>
               
                <input id="myHeader" type="text" name ="first_name" placeholder="temperature"> <br>
                <h1>enter the humidity</h1>
                <br> <input id="myHeader" type="text" name ="last_name" placeholder="humidity"> <br>
                <h1>enter the rainfall</h1>
                <br><input id="myHeader" type="text" name ="username" placeholder="rainfall"> <br>

                
                      <br>

<br>
<!-- <h1>
        select the humidity
    </h1>
                      <select>
                            <option value="volvo2">high</option>
                            
                            <option value="saab2">mid</option>
                            <option value="opel2">low</option>
                           
                            
                          </select>
                          <br>
                          <br>
                          <h1>
                                select the rainfall
                            </h1>
                          <select>
                                <option value="volvo3">high</option>
                                
                                <option value="saab3">low</option>
                                <option value="opel3">mid</option>
                               
                                
                              </select>
                              <br>
                              <br> -->
                   <input id="myHeader" type="submit" name="submit here " id="">
                    
                    
            
            
                </form>


    </div>
    
</body>
</html>